*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
}

.google{
    
    &__links{
        position: absolute;
        top: 1rem;
        right: 1%;
        
        & > a{
            margin-right: 1rem;
            
            &:link,
            &:visited{
                text-decoration: none;
                color: black;
            }
        }
        
    }

    &__image{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 12%;

      position: relative;

        & > img{
            width: 18%;
            margin-bottom: 2rem;
        }
    }

    span{
        position: absolute;
        top: 5rem;
        right: 41.5rem;
        color: #4285f4;
        font-size: 16px;
        font-family: roboto-regular, arial, sans-serif;
    }

    &__container{
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 5px 8px 0 14px;
        width: 38%;
        border: 1PX solid #dfe1e5;
        height: 44px;
        background: #fff;
        border-radius: 24px;

        &:hover{
            box-shadow: 0 1px 6px rgba(32,33,36,.28);
            border-color: rgba(223,225,229,0);
        }

        button{
            border: none;
            outline: none;
            background-color: transparent;
        }
    }

    &__text-input{
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        margin-top: -.3rem;
    }

    &__icon{
        height: 2rem;
        width: 1.5rem;
        fill: #9aa0a6;
        line-height: 1;
        margin-right: .9rem;
        margin-top: -.2rem;

        &--1{
            margin-left: .9rem;
        }

        &--2{
           fill: #4285f4;
        }
    }

    &__btns{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
    }

    &__search-input{
        border: 1px solid #f8f9fa;
        border-radius: 4px;
        outline: none;
        background-color: #f8f9fa;
        padding: 1rem 1.1rem;
        font-size: 1rem;
        font-family: arial,sans-serif;
        color: #3c4043;

        &:hover{
            box-shadow: 0 1px 1px rgba(0,0,0,.1);
            background-color: #f8f9fa;
            border: 1px solid #dadce0;
            color: #202124;
        }
    }

    /*Google Advanced Search*/

    &__contain{
        border-bottom: 1px solid #ebebeb;
        & > img{
            width: 5%;
           margin: 1.5rem 0 2.5rem 1.5rem;
        }

        & > h2{
            margin: 0 0 2rem 4rem;
            color: #d93025;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem;
        border-bottom: 1px solid #ebebeb;
        line-height: 2;

        & > *{
            display: flex;
            color: #333;
        }
    }
    
    &__inputs{

        h5{
            width: 10%;
        }

        h6{
           margin-left: -3rem;
        }

        &--1{
         h2{
            width: 50%;
         }
        }

        &--2{
            input{
                width: 15% !important;
               
            }

            h6{
                width: max-content;
            }
        }

        input{
            width: 35%;
            height: 1.5rem;
            border-top: 1px solid #c0c0c0;
            margin-left: 5rem;
            margin-right: 5rem;
        }
    }

    &__text{
        width:12%;
    }

    &__btn{
        display: flex;
        justify-content: center;
        
        & > button{
            padding:.4rem 1rem;
            border: none;
            background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
            color: #fff;
            font-size: .8rem;

            &:hover{
                outline: 1px solid #3079ed;
            }
        }
    }
}
